#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout {
  height: 1000px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.divider-container {
  margin: 22px 0;
}

.text-container {
  margin: 10px 0;
}

.divider-text {
  font-size: 25px;
  font-weight: bold;
  color: #1890ff;
}

.heading-text {
  font-size: 40px;
  font-weight: 900;
  color: black;
}

.description-text {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.other-title-text {
  font-size: 15px;
  color: black;
  font-weight: 700;
}
